.mat-tab-nav-bar {
    background: white;
}

.mat-tab-links {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-bottom: 0;
}

.mat-ink-bar {
    display: none;
}

.tab-content-container {
    margin-top: $spacing * 2;
}

.mat-tab-label-container {
    background: rgba(255, 255, 255, 0.6);
}

.mat-tab-label,
.mat-tab-link {
    height: 36px !important;
}

.mat-tab-label-active {
    background: #2672b3;
    // border: 1px solid grey;
    // border-radius: 4px 4px 0 0;
    
    opacity: 1 !important;
    color: white;
}

.mat-tab-body-content {
    overflow: hidden !important;
}
